*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758,#490d61);
    background-image: url(images/voice.jpg);
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    color:rgb(201, 245, 24);
}
.hero h1{
    font-size: 75px;
    font-weight:600;
    margin-top:-50px;
    margin-bottom:50px;
}
.hero h1 span{
     color: hsl(76, 96%, 57%);
}
textarea{
    width: 700px;
    height:250px;
    background: #2e24e0;
    color:#fff;
    font-size:15px;
    border:0;
    outline:0;
    padding: 20px;
    border-radius:10px;
    resize:none;
    margin-bottom:30px;
}
textarea::placeholder{
    font-size:16px;
    color: #ddd;

}
.row{
    width: 600px;
    display:flex;
    align-items: center;
    gap: 20px;
}
button{
    background:#ff2963;
    color:#fff;
    font-size:16px;
    padding:10px 30px;
    border-radius:35px;
    border:0;
    outline:0;
    cursor:pointer;
    display:flex;
    align-items: center;

}
button img{
    width:16px;
    margin-right: 10px;
}
.body{
    background: hsl(0, 0%, 7%);
    background-image: url(images/voice.jpg);
}
select{
    flex:1;
    color: #fff;
    background:hsl(208, 83%, 54%);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border:0;
    border-radius:35px;
   appearance:none;
   background-image: url(images/drop-down.jpg);
   background-repeat: no-repeat;
   background-size: 15px;
   background-position-x:calc(100%-20px) ;
   background-position-y:20px ;


}
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-image: url(voice.jpg); /* Replace with your image */
    background-size: cover;
    z-index: -1;
    animation: moveBackground 30s linear infinite;
  }
  
  @keyframes moveBackground {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  